body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color:#27383c;
    font-family: "Comfortaa", sans-serif ;
}

.login{
    width: 380px;
    height: 570px;
    /*border: 2px solid #000;
    border-radius: 80px 0px 80px 0px;/*/   
    color: #fff;
    background-color: rgba(0,0,5,0,8);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;

}

h1{
    margin: 0;
    padding-top : 0;
    padding-left: 0;
    padding-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    padding:100px ;
    color: royalblue;
    font: caption;
}
h2{
    z-index: 3;
    margin: 0;
    padding-top: 0;
    padding-left:0;
    padding-bottom: 20px;
    letter-spacing: 2px;
    text-transform: inherit;;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding:0px ;
    color:#59adff;
    font-family: "Segoe UI";
}
#login{
	width: 250px;
	margin: 0 auto;
	position: relative;
	top: 250px;
	border:1px solid #f1f1f1;
	padding: 5px;
}
.logo{
	width: 250px;
    height: 58px;
    right: 40px;
	margin: 20 auto;
    padding: 0px;
    border-radius: 75rem;
}

.txt{
	border: none;
	right: 40px;
	width: 250px;
	border:thin solid #f1f1f1;
}

.sb{
	display: block;
	border: none;
	width: 320px;
	height: 40px;
    margin-top: 5px;
	cursor: pointer;
	font:400 18px Oswald;
    color: #999;
    top: 50%;
    left: 50%;
}
.sb:hover{
	background:rgb(6, 122, 199);
	color: #fff;
}
.bradius{
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
.fleft{
	float: left;
}
.frigth{
	float: right;
}
.txt,.txt:focus,.sb,.sb:hover{
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-moz-transition:all 0.5s linear;
}